.App {
  text-align: center;
}

/* header{
  height: 65px;
  background-color: #474c57;
} */

/* #button-group{
  height: 35px;
  display: inline-block;
  vertical-align:middle;
  text-align: right;
  width: 87%;
  margin-right: 5px;
  } */

/* #button{
  display: inline-block;
  text-align: right;
} */

#appbar{
  background-color: rgb(51, 93, 207);
}

#typography{
  color: black;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin: 5px;
  display: inline-flex;
  vertical-align:middle;
}

#tittle{
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  vertical-align:middle;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
